# Node.js (pour Angular)
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Angular / Typescript
*.tsbuildinfo
.angular/

# VSCode
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Spring Boot (backend)
# Target directory for Maven (JAR, WAR, etc.)
target/

# IntelliJ IDEA project files / # JetBrains IDE files
.idea/

# Eclipse project files
.project
.classpath
.settings/

# Maven (dependency, build, etc.)
.mvn/
.pom.xml.user

# Logs
*.log
logs/

# Gradle (si tu utilises Gradle)
.gradle/
build/

# Temporary files
*.tmp
*.swp