<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            @for (tempProductCategory of productCategories; track $index) {
                <li>
                    <a routerLink="/category/{{ tempProductCategory.id }}/{{ tempProductCategory.category }}" routerLinkActive="active-link">
                        {{ tempProductCategory.category }}
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
